@model MyTasks.Core.ViewModels.TasksViewModel
@{
    ViewData["Title"] = "Zadania";
}
<h1 class="mb-3">Moje zadania</h1>

<form id="filterForm" class="row row-cols-lg-auto g-3 align-items-center">
    <div class="col-12">
        <div class="input-group">
            <div class="col-auto">
                @Html.TextBoxFor(x => x.FilterTasks.Title, new  { @class = "form-control mb-2", placeholder="Tytuł"})
            </div>
        </div>
    </div>
    <div class="col-12">
        <div class="col-auto">        
            @Html.DropDownListFor(x => x.FilterTasks.CategoryId,
            new SelectList(Model.Categories, "Id", "Name"),
            "--- Wybierz kategorię ---",
            new { @class = "form-control mb-2"})
        </div>

    </div>

    <div class="col-12">
        <div class="form-check mb-2">
            @Html.CheckBoxFor(x => x.FilterTasks.IsExecuted,
            new { @class = "form-check-label"})
            @Html.LabelFor(x => x.FilterTasks.IsExecuted)
        </div>
    </div>

    <div class="col-12">
        <button type="submit" class="btn btn-primary mb-2">Szukaj</button>
    </div>
</form>

<div>
    @await Html.PartialAsync("_TasksTable.cshtml", Model.Tasks)
</div>

@section Scripts
    {
    <script type="text/javascript">

        $(document).ready(function () {

            $('#filterForm').submit(function () {

                $.ajax({
                    type: "POST",
                    url: "@Url.Action("Tasks", "Task")",
                    data: $(this).serialize(),
                    success: function (data) {
                        $('#tasksTable').html(data);
                    },
                    error: function (data) {
                        alert(data.message)
                    },
                    dataType: "html"
                });

                return false;
            });

        });

        function deleteTask(id, btn) {

            if (!confirm("Czy na pewno chcesz usunąć zadanie?"))
                return;

            $.ajax({
                type: "POST",
                url: "@Url.Action("Delete", "Task")",
                data: {
                    id: id
                },
                success: function (data) {
                    if (data.success) {
                        var row = btn.parentNode.parentNode;
                        row.parentNode.removeChild(row);
                    } else {
                        alert(data.message);
                    }
                },
                error: function (data) {
                    alert(data.message)
                },
                dataType: "json"
            });

        }

        function finishTask(id, btn) {

            if (!confirm("Czy na pewno chcesz oznaczyć zadanie jako zrealizowane?"))
                return;

            $.ajax({
                type: "POST",
                url: "@Url.Action("Finish", "Task")",
                data: {
                    id: id
                },
                success: function (data) {
                    if (data.success) {
                        var row = btn.parentNode.parentNode;
                        row.parentNode.removeChild(row);
                    } else {
                        alert(data.message);
                    }
                },
                error: function (data) {
                    alert(data.message)
                },
                dataType: "json"
            });
        }

    </script>

}


